# Entornos virtuales
venv/
env/
.my-venv/
my-venv/
.venv/
__pycache__/
*.py[cod]
*.egg-info/

# Archivos de configuración y entorno
.env
*.env
.env.*

# Datos temporales y almacenes de vectores
vectorstore/
*.db
*.faiss

# Archivos de logs y salida
*.log
*.tmp

# Archivos del sistema
.DS_Store
Thumbs.db

# Archivos de Visual Studio Code
.vscode/

# Archivos de Jupyter
.ipynb_checkpoints/
BKP
